#tabelas table,
#tabelas th,
#tabelas td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

#tabelas table {
    margin: 0 auto;
    background-color: rgba(21, 82, 24, 0.719);
    width: 500px;
    
}


#lista {
    font-size: 18px;
    margin-top: 5px;
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}


h1, h2{
    color: white;
}

#descri {
    color: rgb(200, 200, 200);
}

body {
    text-align: center;
    background-color: rgb(20, 182, 68);
}

#inicio {
    text-align: center;
    background-color: rgba(21, 82, 24, 0.719);
    padding: 20px;
}

#fim{
    background-color: rgba(21, 82, 24, 0.719);
}

a {
    color: blue;
    text-decoration: none;
}

a:hover{
    color: rgba(21, 82, 24, 0.719);;
}